            .wit
{
                width: 36px;
                height: 36px;
                background: white;
                float: left;
                
}
             .Zwart
{
                width: 36px;
                height: 36px;
                background: black;
                 float: left;
               
}