.green
{
    background-color: green;
    height: 50px;
    width: 50px;
    float: left;
}

.wit
{
    background-color: red;
    height: 50px;
    width: 50px;
    float: left;
}

.green1
{
    background-color: green;
    height: 50px;
    width: 50px;
}

.wit1
{
    background-color: red;
    height: 50px;
    width: 50px;
}